.ss-menu-align{
    width:25% !important;
}

.img-responsive{
    width: 100%;
}

@media screen and (min-width: 767px) {
    .img-responsive {
        width: auto;
    }
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif !important;
}

.w3-row-padding img {
    margin-bottom: 12px
}

.w3-sidebar {
    width: 120px !important;
    background: #222 !important;
}

#main {
    margin-left: 120px
}

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}